* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}
.topo {
  background-color: #290742;
  width: 100%;
}

.elementos-topo {
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
navbar {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

navbar h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

navbar input {
  width: 230px;
  height: 44px;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

input {
  background-color: #170027;
  color: white;
  border-radius: 7%;
}

.coletion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 100%;
}
.lupa {
  padding: 7%;
  width: 100%;
  color: white;
  height: 100%;
  background-color: #9e6dc2;
  border-radius: 7%;
}

.main-topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #9e6dc2;
}

.texto p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

#veja-mais h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #9e6dc2;
}

#veja-mais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.mid {
  background-color: #fbf6ff;
  width: 100%;
}

.elements-mid {
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.lorem {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.data {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.title-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #290742;
}

.mid-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mid-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mid-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mid-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mid-low {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  background-color: #fbf6ff;
  width: 100%;
}

.footer-images {
  padding: 5%;
  padding-top: 0;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  gap: 30px;
}

.bloco {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5%;
  opacity: 0.7;
  gap: 20px;
}

.bloco img {
  border-radius: 5%;
}

.bloco:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

li:hover {
  font-weight: 700;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #b26fe2;
}

#veja-mais h2:hover {
  color: #fbf6ff;
  font-weight: 700;
  padding-right: 2%;
}
