* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}
.topo {
  background-color: #290742;
  width: 100%;
}

.elementos-topo {
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
navbar {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

navbar h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

navbar input {
  width: 230px;
  height: 44px;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

input {
  background-color: #170027;
  color: white;
  border-radius: 7%;
}

.coletion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 100%;
}
.lupa {
  padding: 7%;
  width: 100%;
  color: white;
  height: 100%;
  background-color: #9e6dc2;
  border-radius: 7%;
}

.main-topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #9e6dc2;
}

.texto p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

#veja-mais h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #9e6dc2;
}

#veja-mais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
