* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.right {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100vh;
}

.left {
  background-image: url("./assets/images/side-image-2x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.left img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-25%, -25%);
}
